.navbar {
position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    z-index: 1000;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
    box-shadow: 2px 0 8px rgba(0,0,0,0.05);
}

.navbar a {
    color: #000000;
    margin-bottom: 1.5rem;
    font-size: 1.2em;
    text-decoration: none;
}

.navbar a:hover {
    color: #ff4dc1;
}

.navbar .logoutLink {
    position: absolute;
    bottom: 3.5rem;
    left: 1rem;
}

.logoutLink {
    margin-bottom: 2rem;
}