.playing-bottom-container {
    position: fixed;
    left: 180px;
    right: 0;
    bottom: 0;
    width: auto;
    background: white;
    border-top: 1px solid #e2e8f0;
    padding: 15px 25px 15px 25px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
    z-index: 900;
    transition: all 0.3s ease;
    color: black;
    justify-content: space-between;
    height: 50px;
}

.podcast-img{
    padding-left: 20px;
    width: 60px;
}