body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.pass-form {
  padding: 2.5rem;
  border: none;
  width: 100%;
  max-width: 400px;
}

.pass-form h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #000000;
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.pass-input {
  width: 100%;
  flex: 1;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 2px solid #545454;
  background-color: transparent;
  font-size: 1rem;
}

.pass-input:focus {
  outline: none;
  border-color: #8f296d;
}

.pass-input::placeholder {
  color: #7c7d80;
}

.pass-button {
  width: 100%;
  padding: 1rem;
  background: #feb2b2;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pass-button button:hover {
  background: #fc8181;
}